<div class="d-flex justify-content-between">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          routerLink="/navigator"
          class="nav-link"
          [queryParams]="{ tab: '0' }"
          [ngClass]="{ active: tab === 0 }"
          >Income</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/navigator"
          class="nav-link"
          [queryParams]="{ tab: '1' }"
          [ngClass]="{ active: tab === 1 }"
          >outcome</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/navigator"
          class="nav-link"
          [queryParams]="{ tab: '2' }"
          [ngClass]="{ active: tab === 2 }"
          >loan</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/navigator"
          class="nav-link"
          [queryParams]="{ tab: '3' }"
          [ngClass]="{ active: tab === 3 }"
          >investments</a
        >
      </li>
    </ul>
    <a routerLink="/" class="btn btn-primary go-back" href="#" role="button"
      >go back</a
    >
  </div>
  